<div class="card border-primary text-center bg-light">
  <div class="card-body">
    <h5 class="card-title">{{@title}}</h5>
    <p class="card-text">{{@parental}}</p>
    <LinkTo class="btn btn-primary" @route="movies/details" @model="{{@id}}" >
    More Details</LinkTo>
  </div>
</div>